
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(background.jpg) no-repeat 50% 50%;
    background-size: cover;
}



#loader {
    position:relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    background: #fff url('loader.gif') no-repeat center center;
}
#randImage{
    padding-left: 8px;
    padding-top: 10px;
}
